@model IEnumerable<BloodSugarTestResult>
@{
    ViewData["Title"] = "Blood sugar results";
}
<h1>Blood sugar results</h1>
<p>
    <a asp-controller="BloodSugar" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User!.Name)</th>
            <th>@Html.DisplayNameFor(model => model.MealTime)</th>
            <th>@Html.DisplayNameFor(model => model.TestTime)</th>
            <th>@Html.DisplayNameFor(model => model.Result)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var bloodSugarTestResult in Model)
            {
                <tr>
                    <td>@bloodSugarTestResult.User!.Name</td>
                    <td>@bloodSugarTestResult.MealTime</td>
                    <td>
                        @bloodSugarTestResult.TestTime (@bloodSugarTestResult.TimeDurationAfterLastMeal)
                    </td>
                    <td>
                        @{
                            object? fastingNormal = ViewData["FastingNormal"];
                            object? twoHoursNormal = ViewData["TwoHoursNormal"];
                        }
                        @if (fastingNormal is not null && twoHoursNormal is not null) 
                        {
                            @if (bloodSugarTestResult.IsHigh((int)fastingNormal, (int)twoHoursNormal))
                            {
                                <span style="color: red">@bloodSugarTestResult.Result</span>
                            }
                            else
                            {
                                @bloodSugarTestResult.Result
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@bloodSugarTestResult.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@bloodSugarTestResult.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>